APP_NAME="Топливный Альянс"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Europe/Moscow
APP_URL=http://localhost:8080
APP_LOCALE=ru
APP_FALLBACK_LOCALE=ru
APP_FAKER_LOCALE=ru_RU

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=fuel_points
DB_USERNAME=fuel
DB_PASSWORD=secret