<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:Z3h0MXoybGdidHF4YzRiajd0bmN6bDRyaHh5dHVkZXI="/>
        <env name="APP_URL" value="http://localhost"/>
        <env name="APP_DEBUG" value="true"/>
        <env name="APP_TIMEZONE" value="Europe/Moscow"/>

        <env name="CACHE_STORE" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>

        <env name="DB_CONNECTION" value="pgsql"/>
        <env name="DB_HOST" value="postgres"/>
        <env name="DB_PORT" value="5432"/>
        <env name="DB_DATABASE" value="fuel_points_testing"/>
        <env name="DB_USERNAME" value="fuel"/>
        <env name="DB_PASSWORD" value="secret"/>
    </php>
</phpunit>